/**
  * Global scss variables
  */

/* Sizing */

$app-width: 1250px;
$app-height: 850px;
$nav-width: 200px;
$content-width: $app-width - $nav-width;

/* Colors */

$grey: rgb(168, 168, 168);

:export {
  grey: $grey
}