.PanelContainer {
  margin: none;
  display: block;
  padding: none;
  height: 880px;
  overflow: hidden;

  &.main {
    position: absolute;
    top: 60%;
    left: 50%;
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    width: 1280px;
  

  }

  &.left {
    float: left;
    width: 280px;
  }

  &.right {
    float: right;
    width: 1000px;
  }
}

.newsH1
{
height: 50px;
background-color: white;
margin-bottom: 50px;
}