
.panelContainer {
  margin: none;
  display: block;
  padding: none;
  height: 100%;

  &.main {
    position: relative;
    width: 100%;
  }

  &.left {
    float: left;
    width: 20%;
  }

  &.right {
    float: right;
    width: 80%;
  }
}

.nav-content {
  margin: none;
  display: flex;
  padding: none;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  height: 100%;
  width: 100%;
}