@use "./../../config.scss" as config;


.containerMessage {
  width: 100%;
  height: 100%;
}

.containerMessageContext {
  width: 100%;
  height: 87%;
  margin: none;
  padding:  none;
  overflow-y: scroll;
  overflow-x: hidden;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}

.textEntry {
  background-color: white;
  display: flex;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 13%;
  padding: 0 1em;
  border-top: 1px solid rgba(0,0,0,0.23);
}